@import '../node_modules/hiq/dist/hiq.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .detail-row {
    @apply flex flex-row py-2 border-b border-b-slate-700 hover:bg-black/5 transition-colors;
  }
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

@font-face {
  font-family: 'Julia Mono';
  src: url('assets/JuliaMono-RegularLatin.woff2') format('woff2');
}

@font-face {
  font-family: 'Julia Mono';
  src: url('assets/JuliaMono-BoldLatin.woff2') format('woff2');
  font-weight: bold;
}

.qsl-img {
  width: clamp(1px, 400px, 100%)
}

.typewriter {
  font-family: 'Julia Mono';
  overflow: visible;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  line-height: 1;
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.typewriter-small-morse {
  font-size: clamp(1.5vw, 2rem, 4vw);
}
.typewriter-large-morse {
  font-size: clamp(2vw, 3rem, 6vw);
}
.typewriter-small-text {
  font-size: clamp(2vw, 3rem, 6vw);
}
.typewriter-large-text {
  font-size: clamp(6vw, 8rem, 10vw);
}

@keyframes divider-stretch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
